

<!-- passing $event reserved variable name in template when using event binding, will be data emitted with event -->
<!-- <input
type="text"
class="form-control"
(input)="onUpdateServerName($event)"> -->


<!-- Two Way Binding -->
<!-- ngModel will trigger on event and update serverName automatically, since its two way, it will update value if we change serverName somewhere else -->
<input
type="text"
class="form-control"
[(ngModel)]="serverName">

<p>{{ serverName }} </p>


<!-- brackets dynamically bind some properties and disable html property -->
<!-- Property Binding that disabled to its own typescript property -->
<!-- Call method with click -->
<button
[disabled] = "!allowNewServer"
(click)="onCreateServer()"
>Click</button>



<p>{{ serverCreationStatus }}</p>


<!-- string interpolation -->
<p [innerText]>{{allowNewServer}}</p>

<!-- typically use property binding -->

<!-- innerText property set to property binding -->
<p [innerText] = "allowNewServer" ></p>



<p>servers works!</p>


<input 
type="text"
[(ngModel)]="username">

<p>{{ username }}</p>

<button 
[disabled] =  "username === ''"
(click)="username = ''"


>RESET</button>




